# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package files
*.jar
*.war
*.ear

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ project files
.idea/

# NetBeans project files
nbproject/

# Gradle files
build/

# Maven
target/

# Jekyll
_site/

# Visual Studio Code files
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~

# Editor-specific files
*.swp
*~
